<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <h2>hello 88vipPro</h2>
        <div>
            <img class="88vipPro" src="/images/hinh-nen-gai-xinh.jpg" alt="">
        </div>
</body>
</html>